<div class="container">
    <div class="jumbotron">
        <h1>An App for Pretending to Eat Hamburgers</h1>
        <p>Create Pretend Hamburgers and Pretend to Eat Them</p>
        <h2>Make a Hamburger</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newBurger">Make a New Hamburger</label>
                    <input type="text" id="newBurger" name="burger">
                    <button type="submit" class="btn btn-primary" id="addburger">
                        <span>Make it</span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Pretend Hamburgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                            <span>{{this.id}} - {{this.burger}}</span>
                            <button type="button" class="eatburger btn btn-primary" id="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span>Devour It</span></button>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
                <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Eaten Pretend Hamburgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                            <span>{{this.id}} - {{this.burger}}</span>
                            <button type="button" class="trashburger btn btn-primary" id="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span>Delete</span></button>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>